body {
  background-color: #6db3f2;
}

main {
  display: flex;
}

section {
  margin-top: 10px;
}

header {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 80px;
  align-items: center;
  background-color: #6df0f2;
}

aside {
  margin-right: 20px;
}

/* Viewports Styling*/

@media screen and (max-width: 575px) {
  .search-panel {
    width: 40%;
  }
}
